<footer class="footer">
    <div class="container__base">
        <div class="footer__wrapper">
            <ul class="footer__social">
                <li class="footer__social--item">
                    <a href="" class="footer__social--link">
                    </a>
                </li>
                <li class="footer__social--item">
                    <a href="" class="footer__social--link">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>