<form id="lead-form" class="lead-form{% if color %} lead-form--{{ color }}{% endif %}{% if formIsNarrow %} lead-form--narrow{% endif %}" action="" method="post" {% if page %} data-page="{{ page }}"{% endif %}>
    <label class="lead-form__label" for="form-name">Имя</label>
    <input class="lead-form__input" id="form-name" name="name" type="text" required>
    <label class="lead-form__label" for="form-phone">Телефон</label>
    <input class="lead-form__input" id="form-phone" name="phone" type="tel" required>
    <label class="lead-form__label" for="form-tg">Телеграм</label>
    <input class="lead-form__input" id="form-tg" name="telegram" type="text" required>

    {% if selectPractice %}
        <div class="lead-form__practices">
            <label class="lead-form__checkbox" for="practice_ego">
                <input class="lead-form__checkbox--input" id="practice_ego" name="practice" value="ego" type="checkbox">
                <div class="lead-form__checkbox--button lead-form__checkbox--button--blue">
                    <div class="lead-form__checkbox--img">
                        {% set includeIcon = 'practiceEgo' %}
                        {% include "includes/svg.njk" %}
                    </div>
                </div>
            </label>

            <label class="lead-form__checkbox" for="practice_cure">
                <input class="lead-form__checkbox--input" id="practice_cure" name="practice" value="cure" type="checkbox">
                <div class="lead-form__checkbox--button lead-form__checkbox--button--green">
                    <div class="lead-form__checkbox--img">
                        {% set includeIcon = 'practiceCure' %}
                        {% include "includes/svg.njk" %}
                    </div>
                </div>
            </label>

            <label class="lead-form__checkbox" for="practice_female">
                <input class="lead-form__checkbox--input" id="practice_female" name="practice" value="female" type="checkbox">
                <div class="lead-form__checkbox--button lead-form__checkbox--button--red">
                    <div class="lead-form__checkbox--img">
                        {% set includeIcon = 'practiceFemale' %}
                        {% include "includes/svg.njk" %}
                    </div>
                </div>
            </label>

            <label class="lead-form__checkbox" for="practice_wishes">
                <input class="lead-form__checkbox--input" id="practice_wishes" name="practice" value="wishes" type="checkbox">
                <div class="lead-form__checkbox--button lead-form__checkbox--button--yellow">
                    <div class="lead-form__checkbox--img">
                        {% set includeIcon = 'practiceWishes' %}
                        {% include "includes/svg.njk" %}
                    </div>
                </div>
            </label>

            <label class="lead-form__checkbox" for="practice_integrity">
                <input class="lead-form__checkbox--input" id="practice_integrity" name="practice" value="integrity" type="checkbox">
                <div class="lead-form__checkbox--button lead-form__checkbox--button--darkblue">
                    <div class="lead-form__checkbox--img">
                        {% set includeIcon = 'practiceIntegrity' %}
                        {% include "includes/svg.njk" %}
                    </div>
                </div>
            </label>

            {# <label class="lead-form__checkbox" for="practice_all">
                <input class="lead-form__checkbox--input" id="practice_all" name="practice" value="all" type="checkbox">
                <div class="lead-form__checkbox--button">
                    <div class="lead-form__checkbox--img">
                        {% set includeIcon = 'practiceAll' %}
                        {% include "includes/svg.njk" %}
                    </div>
                </div>
            </label> #}
        </div>
    {% endif %}

    <button class="lead-form__button" type="submit">Записаться</button>

    <div class="lead-form__popup lead-form__popup--positive">Спасибо за заявку!<br>Мы свяжемся с Вами в ближайшее время.</div>
    <div class="lead-form__popup lead-form__popup--negative">Что-то пошло не так!<br>Попробуйте позже.</div>
    <div class="lead-form__popup lead-form__popup--emptyfield">Пожалуйста отметьте одну или несколько практик!</div>
</form>