<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ pageTitle }}</title>
        <meta name="title" content="{{ pageTitle|default('Медитации') }}">
        <meta name="description" content="{{ pageDescription|default('Медитации в записи на каждый день на все случаи жизни: привлечение финансов, удачи, любви, самореализация.') }}">
        <meta name="keywords" content="медитация, медитации, онлайн, деньги, богатство, финансы, удача, любовь, самореализация, слушать">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="Russian">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        {% include "includes/preload.njk" %}
        {% include "includes/versionCss.njk" %}

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(95784184, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/95784184" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        {% block customCss %}{% endblock %}
    </head>

    <body>
        {% block bodyContent %}{% endblock %}

        {% include "includes/versionJs.njk" %}

        {% block customJs %}{% endblock %}
    </body>

</html>