.billboard {
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #FFC8BC 0%, #FF879D 100%);

    &__wrapper {
        padding: 225px 0 200px;
        background-image: url('../../assets/img/main/billboard.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
    }

    &__text {
        max-width: 60%;
    }
    
    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        color: $white;
        margin-bottom: 20px;
    }

    &__summary {
        color: $white;
        max-width: 440px;
    }

    //media

    @media (max-width: $tablet-breakpoint) {
        &__wrapper {
            background-size: 60%;
            margin: 0 -30px;
            padding: 0;
        }

        &__text {
            max-width: none;
            padding: 50px 60px 125px 15px;
        }
        
        &__title {
            font-size: 30px;
            line-height: 30px;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        &__wrapper {
            background-position-x: 20%;
            background-size: 150%;
            margin: 0 -15px;
        }
    }
}