.lead-form {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__label {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    &__input {
        font-size: inherit;
        line-height: inherit;
        background-color: $white;
        border: 1px solid $pink;
        border-radius: 20px;
        padding: 25px;
        margin-bottom: 10px;
    }

    &__practices {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
    }

    &__checkbox {
        line-height: 0;
        position: relative;

        &--input {
            display: none;
        }

        &--button {
            border-radius: 50%;
            background-color: $white;
            box-shadow: 0 0 3px 0 $pink;
            transition: box-shadow .3s;
            cursor: pointer;

            // colors
            @each $class, $color in $colorClasses {
                &--#{$class}:hover {
                    box-shadow: 0 0 3px 0 #{$color};
                }
            }
        }

        &--img {
            transform: scale(0.8);
            transition: transform .3s;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &--caption {
            position: absolute;
            bottom: 70px;
            line-height: 27px;
            text-shadow: 0 0 6px #fff;
            visibility: hidden;
            opacity: 0;
            transition: visibility .3s, opacity .3s;

            &--1 {
                width: 367px;
                left: 0;
            }

            &--2 {
                width: 211px;
                left: -72px;
            }

            &--3 {
                width: 147px;
                left: -47px;
            }

            &--4 {
                width: 183px;
                right: -70px;
            }

            &--5 {
                width: 202px;
                right: 0;
            }
        }

        &--button:hover ~ .lead-form__checkbox--caption {
            visibility: visible;
            opacity: 1;
        }

        &--button:hover, &--input:checked ~ .lead-form__checkbox--button {
            .lead-form__checkbox--img {
                transform: scale(1);
            }
        }

        &--input:checked ~ .lead-form__checkbox--button {
            // colors
            @each $class, $color in $colorClasses {
                &--#{$class} {
                    box-shadow: 0 0 9px 0 #{$color};
                }
            }
        }
    }

    &__button {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 35px;
        font-size: inherit;
        line-height: inherit;
        color: $white;
        background-color: $pink;
        border: none;
        border-radius: 30px;
        padding: 25px 75px;
        cursor: pointer;
    }

    &__popup {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 80%;
        font-size: inherit;
        line-height: inherit;
        text-align: center;
        background-color: $white;
        border-radius: 20px;
        padding: 25px;
        box-shadow: 0px 0px 5px 0px $pink;
        transform: translateY(-50%);
        transition: visibility .3s, opacity .3s;
        visibility: hidden;
        opacity: 0;

        &--active {
            visibility: visible;
            opacity: 1;
        }
    }

    &--narrow {
        max-width: 360px;
        margin: 0;
        margin-left: auto;
        
        .lead-form__button {
            max-width: 175px;
            margin: 0;
            margin-top: 35px;
            padding: 25px 35px;
        }
    }

    // colors
    @each $class, $color in $colorClasses {
        &--#{$class} {
            .lead-form__input {
                border-color: #{$color};
            }
        
            .lead-form__button {
                background-color: #{$color};
            }

            .lead-form__popup {
                box-shadow: 0px 0px 5px 0px #{$color};
            }
        }
    }

    //media

    @media (max-width: $tablet-breakpoint) {
        &--narrow {
            margin: 0 auto;

            .lead-form__button {
                max-width: none;
                width: 100%;
            }
        }

        &__practices {
            margin-top: 50px;
        }

        &__button {
            max-width: none;
            width: 100%;
        }

        &__checkbox {
            &--button:hover {
                box-shadow: 0 0 3px 0 $pink;

                .lead-form__checkbox--img {
                    transform: scale(0.8);
                }
            }
        }
    }

    @media (max-width: $mobile-breakpoint) {
        &__practices {
            margin-top: 70px;
        }

        &__checkbox {
            max-width: 45px;

            &--caption {
                max-width: 260px;
                bottom: 55px;

                &--2 {
                    left: -40px;
                }

                &--4 {
                    right: -40px;
                }
            }
        }
    }
}