.points {
    margin-bottom: 100px;

    &__wrapper {
        margin: 0 -20px;
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 0 20px;
        flex-basis: 33.333%;
        display: flex;
        align-items: center;
    }

    &__number {
        position: relative;
        font-family: 'Cruinn', sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 55px;
        background-color: $pink;
        color: $white;
        padding: 5px;
        border-radius: 50%;
        margin-right: 20px;
        min-width: 65px;
        min-height: 65px;
        text-align: center;

        &--text {
            position: absolute;
            top: 7px;
        }

        &--1 {
            left: 29px;
        }

        &--2 {
            left: 22px;
        }

        &--3 {
            left: 21px;
        }
    }

    //media

    @media (max-width: $laptop-breakpoint) {
        &__wrapper {
            margin: 0 -15px;
        }

        &__item {
            padding: 0 15px;
        }
    }

    @media (max-width: $tablet-breakpoint) {
        margin-bottom: 40px;

        &__wrapper {
            flex-wrap: wrap;
            margin: 0;
        }

        &__item {
            flex-basis: 100%;
            padding: 0;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}