$white: #FFFFFF;
$black: #000000;
$grey: #EDF0F9;
$pink: #E43E48;
$green: #81E3C0;
$orange: #FFAB4A;
$lightBlue: #72DDFF;
$darkBlue: #1C00C6;
$darkGrey: #212133;

$colorClasses: (
    "blue": "#72DDFF",
    "green": "#81E3C0",
    "red": "#E43E48",
    "yellow": "#FFAB4A",
    "darkblue": "#1C00C6",
);

$colorClassesWithWhite: (
    "white": "#FFFFFF",
    "blue": "#72DDFF",
    "green": "#81E3C0",
    "red": "#E43E48",
    "yellow": "#FFAB4A",
    "darkblue": "#1C00C6",
);
