$white: #FFFFFF;
$black: #000000;
$grey: #EDF0F9;
$pink: #E43E5C;
$green: #A7FBDD;
$orange: #FFAB4A;
$lightBlue: #72DDFF;
$darkBlue: #1C00C6;
$darkGrey: #212133;

$colorClasses: (
    "blue": "#72DDFF",
    "green": "#A7FBDD",
    "red": "#E43E5C",
    "yellow": "#FFAB4A",
    "darkblue": "#1C00C6",
);

$colorClassesWithWhite: (
    "white": "#FFFFFF",
    "blue": "#72DDFF",
    "green": "#A7FBDD",
    "red": "#E43E5C",
    "yellow": "#FFAB4A",
    "darkblue": "#1C00C6",
);
